<div>
  <h3>Select topics to view {{#link-to 'topics' }} offline. {{/link-to}}</h3>
</div>
<div class="row">
  <div class="col-md-4">
    <h6 style="margin-top: 5px;">Displaying info from {{ currentSourceUrl }}. 
      Enter the base url for a discourse site to retrieve topics from that site:
    </h6>
  </div>
  <div class="col-md-8">
    <form class="domain-form" {{action "changeDomain" on="submit" }}>
      <table>
        <tr class="input">
          <td style="">
            {{input placeholder="eg: https://meta.discourse.org" value=domainUrl id="domain-url" autofocus="autofocus"}}
          </td>
          <td>
            <button class='btn btn-small btn-primary' {{action 'changeDomain'}}>
              Go
            </button>
          </td>
        </tr>

        <tr class="instructions">
          <td>
            <label></label>
          </td>
        </tr>
      </table>
    </form>
  </div>

</div>

<div class="row" style="margin-top:20px">
  <div class="col-md-3 categories-list">
    Pick a category:

    <ul>

      {{#each item in model.category_list.categories }}
      <li>
        {{#link-to 'categories.category' item.slug }} {{ item.name }} {{/link-to}}
      </li>
      {{/each}}

    </ul>

  </div>

  <div class="col-md-9 topics-list">
    {{outlet}}
  </div>

</div>

<div class="row">

  {{#if offlineTopicsCount}}
  <span>You have {{ offlineTopicsCount }} topics viewable {{#link-to 'topics' }} offline. {{/link-to}}</span>
  {{else}}
  <span>You do not have topics viewable offline.</span>
  {{/if}}

</div>
