<div class="row">
<h3>Displaying info from klavado.com</h3>	

  <form {{action "changeDomain" on="submit"}}>
    <table>
      <tr>
        <td style="" class="label">
          <label for='domain-name'>
          </label>
        </td>
      </tr>
      <tr class="input">
        <td style="">
          {{input placeholder="domain name" value=domainName id="domain-name" autofocus="autofocus"}}
        </td>
        <td>
          <button class='btn btn-small btn-primary' {{action 'changeDomain'}}>
            Go
          </button>
        </td>
      </tr>

      <tr class="instructions">
        <td>
          <label></label>
        </td>
      </tr>
    </table>
  </form>
</div>

<div class="row">
  <div class="col-md-3 categories-list">
    Pick a category:

    <ul>

      {{#each item in model.category_list.categories }}
      <li>
        {{#link-to 'categories.category' item.slug }} {{ item.name }} {{/link-to}}
      </li>
      {{/each}}

    </ul>

  </div>

  <div class="col-md-9 topics-list">
    {{outlet}}
  </div>

</div>

<div class="row">
  <div class="well">
    {{#if offlineTopicsCount}}
      <span>You have {{ offlineTopicsCount }} topics viewable {{#link-to 'topics'  }} 
      offline. {{/link-to}} </span>
    {{else}}
      <span>You do not have topics viewable offline.</span>
    {{/if}}
  </div>
</div>
