<div>
  <h3>Select topics to view {{#link-to 'topics' }} offline. {{/link-to}}</h3>
</div>
<div class="row">
  <div class="col-md-4">
    <h6 style="margin-top: 5px;">Displaying info from {{ currentSourceUrl }}. 
      Enter the base url for a discourse site to retrieve topics from that site:
    </h6>
  </div>
  <div class="col-md-4">
    {{select-2
    content=model
    value=currentSite
    placeholder="Choose site"
    allow-clear=true
}}
  </div>
  <div class="col-md-4">
    <form class="domain-form" {{action "changeDomain" on="submit" }}>
      <table>
        <tr class="input">
          <td style="">
            {{input placeholder="eg: https://meta.discourse.org" value=domainUrl id="domain-url" autofocus="autofocus"}}
          </td>
          <td>
            <button class='btn btn-small btn-primary' {{action 'changeDomain'}}>
              Go
            </button>
          </td>
        </tr>

        <tr class="instructions">
          <td>
            <label></label>
          </td>
        </tr>
      </table>
    </form>
  </div>

</div>

{{ outlet }}