<div class="row">

  <div class="col-md-6">
    <form {{action "addSite" on="submit" }}>
      <h2>Add a discourse site</h2>
      <div class="form-group">
        <label for='name'>Url:</label>
        {{input placeholder="eg: https://meta.discourse.org" value=domainUrl id="domain-url" autofocus="autofocus" class="form-control"}}
      </div>
      <button class="btn btn-primary btn-block" type="submit">Save</button>
    </form>
  </div>

</div>


<div>
  <h3>Discourse sites</h3>
</div>

<div class="row offline-topics">
  <div class="col-md-3">
    <div class="bs-sidebar hidden-print affix-top" role="complementary">

      <ul class="nav nav-pills nav-stacked">
        {{#each site in model }} {{#link-to 'sites.site' site.slug tagName="li" class="topic-nav-item" }}
        <a {{bind-attr href="view.href" }}>{{ site.display_name }}</a> {{/link-to}} {{/each}}
      </ul>

    </div>
  </div>
  <div class="col-md-9" role="main">
    {{ outlet }}
  </div>
</div>
