
{{#if noOfflineTopics }}
<div>
  <h3>You do not have topics viewable offline. <small>{{#link-to 'retriever' }} Go online to add some. {{/link-to}}</small> </h3>
</div>

{{else}}
<div>
  <h3>Topics available to view offline.  <small>{{#link-to 'retriever' }} Go online to add more. {{/link-to}}</small> </h3>
</div>

<div class="row offline-topics">
  <div class="col-md-3">
    <div class="bs-sidebar hidden-print affix-top" role="complementary">

          {{#each site in model.content }}
          {{ site.base_url }}
            <ul class="nav nav-pills nav-stacked">
            {{ site.base_url }}
              {{#each topic in site.topics }}
                {{#link-to 'topics.topic' topic.id tagName="li" 
                  class="topic-nav-item" }}
                    <a {{bind-attr href="view.href"}}>{{ topic.title }}</a>
                {{/link-to}}
              {{/each}}
            </ul>
          {{/each}}

        <ul class="nav nav-pills nav-stacked">
          {{#each topic in model.content }}
            {{#link-to 'topics.topic' topic.id tagName="li" 
              class="topic-nav-item" }}
                <a {{bind-attr href="view.href"}}>{{ topic.title }}</a>
            {{/link-to}}
          {{/each}}
        </ul>
    </div>

  <div class="well">
    <div>
      <span>You have {{ offlineTopicsCount }} topics viewable offline. {{#link-to 'retriever' }} Go online to add more. {{/link-to}}</span>
    </div>
    <div>
      <a href="" {{action 'destroyAllOfflineTopics'}}>Remove all offline topics</a>
    </div>

    {{!-- {{#if controllers.Application.navigatorIsOnline }}
    <span>Application says: Navigator is online</span>
    {{else}}
    <span>Application says: Navigator is offline</span>
    {{/if}} {{#if controllers.Application.networkIsOnline }}
    <span>Application says: Network is online</span>
    {{else}}
    <span>Application says: Network is offline</span>
    {{/if}} --}}
  </div>


  </div>
  <div class="col-md-9" role="main">
    {{ outlet }}
  </div>
</div>

<div class="row">

</div>
{{/if}}
