<div>
  <h3>Topics available to view offline:</h3>
</div>

{{#if noOfflineTopics }}
<span>You do not have topics viewable offline. {{#link-to 'categories' }} Go online to add some. {{/link-to}}</span>
{{else}}

<div class="row offline-topics">
  <div class="col-md-3">
    <div class="bs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav bs-sidenav">
        <ul>

          {{#each topic in model.content }}
          <li>
            {{#link-to 'topics.topic' topic.id }} {{ topic.title }} {{/link-to}}
          </li>
          {{/each}}

        </ul>

    </div>
  </div>
  <div class="col-md-9" role="main">
    {{ outlet }}
  </div>
</div>

<div class="row">
  <div class="well">
    <div>
      <span>You have {{ offlineTopicsCount }} topics viewable offline. {{#link-to 'categories' }} Go online to add more. {{/link-to}}</span>
    </div>
    <div>
      <a href="" {{action 'destroyAllOfflineTopics'}}>Remove all offline topics</a>
    </div>

    {{!-- {{#if controllers.Application.navigatorIsOnline }}
    <span>Application says: Navigator is online</span>
    {{else}}
    <span>Application says: Navigator is offline</span>
    {{/if}} {{#if controllers.Application.networkIsOnline }}
    <span>Application says: Network is online</span>
    {{else}}
    <span>Application says: Network is offline</span>
    {{/if}} --}}
  </div>
</div>
{{/if}}
